html,body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

body {
  font-family: 'Raleway', sans-serif;
  position:absolute;
}

#splash {
  height:100vh;
  width:100vw;
  position:relative;
}

#splash svg {
  position:relative;
  left:50%;
  right:0;
  height:100vh;
}

#splash div {
  position:absolute;
  top:0;
  bottom:0;
  left:25px;
  width:50%;
  height:40vh;
  margin:auto 0;
  padding:0;
  color:#FFFFFF;
}
#splash div h1 {
  color:#383838;
}
#splash div hr {
  border:1px solid #5d697A;
}
