html,body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image:url('https://images.unsplash.com/photo-1505082527911-33423132c73d');
  background-size:contain;
  background-position:right top;
  background-attachment:fixed;
  position:absolute;
}

#splash {
  height:200vh;
  width:100vw;
  position:relative;
}
#splash svg {
  position:relative;
  left:0;
  right:0;
  height:100vh;
}
